#logo
{
    width:100 px;
    height:100 px;
    float: left;
    margin-right: 10 px;
}
header
{
    background-color: #ADD8E6;
    height:120 px;
    width:100%;
}
nav{
    clear:both;
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #ADD8E6;
}
main{
    width: 960px;
    box-sizing: border-box;
    margin :0 auto;
}
section
{
    background:	#ADD8E6;
}
footer
{   
    margin-top: 10px;
    background:	#ADD8E6;
}
table
{
    border: 1px solid black;
}
#tr1,#tr3,#tr5
{
   background: green;
}
#tr2,#tr4
{
    background: hotpink;
}